extends base.pug
block style
 style
  include ../static/style.css
block scripts  
 script(src="..static/index.js") 
block content
 h1 This is Services Section! 
 p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aut officia voluptatem repudiandae nesciunt, dolores architecto nobis maiores unde, sed natus id harum sint explicabo quae beatae modi quas sunt.